<md-card>
  <md-card-content>
    <div class="example-container mat-elevation-z8">
      
        <md-table #table [dataSource]="dataSource">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
          <!-- ID Column -->
          <ng-container mdColumnDef="dato_1">
            <md-header-cell *mdHeaderCellDef> dato_1 </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.dato_1}} </md-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container mdColumnDef="dato_2">
            <md-header-cell *mdHeaderCellDef> dato_2 </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.dato_2}}% </md-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container mdColumnDef="dato_3">
            <md-header-cell *mdHeaderCellDef> dato_3 </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.dato_3}} </md-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container mdColumnDef="dato_4">
            <md-header-cell *mdHeaderCellDef> dato_4 </md-header-cell>
            <md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.dato_4}} </md-cell>
          </ng-container>
      
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      
        <md-paginator #paginator
                      [length]="exampleDatabase.data.length"
                      [pageIndex]="0"
                      [pageSize]="25"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>
      </div>
  </md-card-content>
</md-card>